{
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "importOrder": ["^(express|react)$", "<THIRD_PARTY_MODULES>", "^@(.*)", "(.*)"],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["typescript", "classProperties", "decorators-legacy"]
}
