{
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "importOrder": ["^react$", "<THIRD_PARTY_MODULES>", "^@(.*)", "(.*)"],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true
}
