# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: 'yarn'
      - name: Cache Front-End node_modules
        uses: actions/cache@v2
        with:
          path: front/node_modules
          key: ${{ runner.os }}-${{ hashFiles('front/package.json', 'front/yarn.lock') }}
      - name: Install node_modules
        working-directory: front
        run: yarn install --frozen-lockfile
      - name: Run ESLint Front
        working-directory: front
        run: yarn lint
      - name: Run ESLint Back
        working-directory: back
        run: yarn lint

  build:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: 'yarn'
      - name: Cache Front-End node_modules
        uses: actions/cache@v2
        with:
          path: front/node_modules
          key: ${{ runner.os }}-${{ hashFiles('front/package.json', 'yarn.lock') }}
      - name: Cache Back-End node_modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('back/package.json', 'yarn.lock') }}
      - name: Cache workspaces node_modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('package.json', 'yarn.lock') }}
      - name: Build ReactJS
        run: yarn build
